app-ticket-detail {
  display: block;
  background: #f0f2f5;
  min-height: 100vh;
  padding: 32px;
  box-sizing: border-box;
}/* You can add global styles to this file, and also import other style files */
