<div class="detail-container" *ngIf="ticket">
  <button (click)="voltar()">← Voltar</button>

  <div *ngIf="!editando">
    <h1>{{ ticket.titulo }}</h1>
    <p>{{ ticket.descricao }}</p>
    <span [class]="'status-' + ticket.status">{{ ticket.status }}</span>
    <p class="data">Criado em: {{ ticket.criadoEm | date:'dd/MM/yyyy' }}</p>
    <p class="data" *ngIf="ticket.atualizadoEm">
  Atualizado em: {{ ticket.atualizadoEm | date:'dd/MM/yyyy HH:mm' }}
</p>
    <button class="btn-editar" (click)="editar()">✏️ Editar</button>
  </div>

  <div *ngIf="editando">
    <input [(ngModel)]="tituloEdit" />
    <textarea [(ngModel)]="descricaoEdit"></textarea>
    <button class="btn-salvar" (click)="salvar()">Salvar</button>
    <button class="btn-cancelar" (click)="cancelar()">Cancelar</button>
  </div>
</div>

<div *ngIf="!ticket">
  <p>Ticket não encontrado.</p>
  <button (click)="voltar()">← Voltar</button>
</div>